/** Color palette,  **/
/** Font palette,  **/
/** Added effects, **/
/** Sources, **/

* {
  
    box-sizing: border-box;

}

html, body {
  
}

header {
    border: #000000 solid 2px;
    font-family: 'Syne Mono', monospace;
}

footer {
    border: #000000 solid 2px;
}

aside {
    border: #000000 solid 2px;
    font-family: 'Syne Mono', monospace;
}

/***********/
/** Texts **/
H1 {
   
}

h2 {

}

p {

}
/** End Texts **/

#indexBtn {
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
    border-radius: 2px;
    border: #000000 solid 1px;
    background-color: burlywood;
    padding: 1.25%;
    margin: .5%;
}

#indexImg {
    background-color: #000000;
    width: fit-content;
    height: auto;
}

#indexImg img{
    height: auto;
    width: 56%;
}

/***************/
/** Links styles **/
#links:hover {
    color: ;
    background-color: ;
    animation: bounce .5s;
}

#links:active {
    background:linear-gradient(-60deg, #F2E9C7 30%, #C7782F 80%);
    color: #000000;
}
/** End Link styles **/
/*******************/
/** Bounce Effect **/
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    }
80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    }
}
/* End Bounce Effect */
/*********************/
/** Site Navigation **/
#navBtn:hover {
    border: 2px solid #F2E9C7;
    text-align: center;
    box-shadow: 1px 8px 8px 1px black;
}

#navBtn:active {
    background:linear-gradient(-60deg, #F2E9C7 30%, #C7782F 80%);
    color: #000000;
}
/** End Site Navigation **/
/************************/





